# compiled files
*.o
main
dot
dp_so
dot_product_speedup
mvm
fib
dotp
*.exe
sgmm
membership_vector

benchmarking/vectorisation/missed.txt
eigVecTest.c
matlab-membershipvec.txt
matlab-mat.txt
py-membershipvec.txt
matlab-mat.txt
py-mat.txt
dot_product_speedup.asv